<template>
  <div>
    <div id="messageBoardContainer">
      <div id="messageBoard">
        <div
          v-for="msg in messagesList"
          :key="msg.text"
          :class="'msg-box ' + msg.type"
        >
          {{ msg.text }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import notify from "devextreme/ui/notify";
import ToastConfig from "@/Domain/notifications/toast-config";
import { mapGetters } from "vuex";
import Message from "@/store/notification/message";
import StickyMessage from "@/Domain/notifications/sticky.message";

export default defineComponent({
  computed: {
    ...mapGetters("notification", ["message"]),
  },
  name: "GlobalNotifier",
  data() {
    return {
      messagesList: Array<StickyMessage>(),
      notifyCounter: 0,
      activeNotifies: 0,
      toastConfig: new ToastConfig(),
    };
  },
  methods: {
    handleHiding(): void {
      this.messagesList.push({
        text: this.toastConfig.message,
        type: this.toastConfig.type,
      } as StickyMessage);

      this.activeNotifies -= 1;

      if (this.activeNotifies === 0) {
        this.notifyCounter = 0;
      }
    },
    handleShowing(): void {
      this.activeNotifies += 1;
      this.notifyCounter += 1;
    },
  },
  watch: {
    message: {
      deep: true,
      handler: function (newMessage: Message, oldMessage: Message) {
        this.toastConfig.message = newMessage.body;
        this.toastConfig.type = newMessage.type;
        this.toastConfig.position.offset = `0 ${-60 * this.notifyCounter - 50}`;

        notify(
          {
            message: newMessage.body,
            onShowing: this.handleShowing,
            onHiding: this.handleHiding,
            position: this.toastConfig.position,
            width: this.toastConfig.width,
          },
          newMessage.type,
          this.toastConfig.duration
        );
      },
    },
  },
});
</script>

<style lang="scss" scoped>
#messageBoardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#messageBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.msg-box {
  border: 1px solid grey;
  padding: 5px;
  min-width: 150px;
  height: 20px;
  color: #fff;

  &.msg-box.success {
    background-color: green;
  }
  &.msg-box.error {
    background-color: orangered;
  }
}
</style>