<template>
  <div class="hello">
    <p>
      <DxButton text="Click me" @click="getShow" />
      <DxButton text="Click me" @click="sayFailed" />
    </p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import DxButton from "devextreme-vue/button";
import Message from "@/store/notification/message";
import { mapGetters } from "vuex";
import televisionShowService from "@/services/mock.data.service";

export default defineComponent({
  components: { DxButton },
  computed: {
    ...mapGetters("notification", ["myMessage"]),
  },
  name: "HelloWorld",
  methods: {
    saySucceeded(): void {
      this.$store.dispatch(
        "notification/opSuccess",
        new Message("This op worked", "success")
      );
    },
    sayFailed(): void {
      this.$store.dispatch(
        "notification/opFail",
        new Message("This op failed", "error")
      );
    },
    getShow() {
      televisionShowService.getShow("").then((resp) => {
        let data = resp.data;
      });
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
